.footer{
    background-color: rgba(255, 255, 255, 0.74);
    color: rgb(0, 0, 0);
    font-size: 17px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(179, 179, 179);

}
.icon:hover{
    
    color: rgb(255, 255, 255);
    transition: ease-in-out 0.2s;

}
@media only screen and (max-width:600px) {
    .footer{
        font-size: 12px;
    }
    
}